<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="parser"
          class="ru.otus.spring.vshum.parser.CSVParserOptionsImpl">
    </bean>

    <bean id="testDao"
          class="ru.otus.spring.vshum.dao.TestDaoImpl">
        <constructor-arg index="0" value="/test.csv"/>
        <constructor-arg index="1" ref="parser"/>
    </bean>

    <bean id="testService"
          class="ru.otus.spring.vshum.service.TestServiceImpl">
        <constructor-arg ref="testDao"/>
    </bean>
    <bean id="testController"
          class="ru.otus.spring.vshum.controller.TestController">
        <constructor-arg ref="testService"/>
    </bean>

</beans>