<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add new book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>

</head>
<body>

<!-- Book addition -->
<form id="edit-form" action="edit.html" th:action="@{/book/add}" th:method="POST">
    <h3>Add Book:</h3>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" />
    </div>

    <div  class="row">
        <label for="author">Author:</label>
        <select class="form-control" id="author" name="author">
            <option th:each="a : ${wrapper.authors}" th:value="${a.id}" th:text="${a.name} +' ' + ${a.surname}"></option>
        </select>
    </div>

    <div  class="row">
        <label for="genre">Genre:</label>
        <select class="form-control" id="genre" name="genre">
            <option th:each="g : ${wrapper.genres}" th:value="${g.id}" th:text="${g.title}"></option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="list.html" th:href="@{/}"><button type="button">Cancel</button></a>
    </div>
</form>

</body>
</html>